# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List common libraries for Data Science
* Organize popular Data Science development environments in a table
* Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matpotlib
4. Scikit-learn
5. Tensorflow

|Data Science Tools|
| ---------------- |
| Jupyter |
| Apache Spark |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiple then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

## Author
Aldila Yunus